# Created by https://www.gitignore.io/api/laravel

### Laravel ###
www/vendor/
www/node_modules/
www/npm-debug.log
www/yarn-error.log
www/.phpunit.result.cache

# Laravel 5 & Lumen specific
www/public/storage
www/public/hot
www/storage/*.key
www/.env.*.php
www/.env.php
www/.env
www/Homestead.yaml
www/Homestead.json

# Other
.DS_Store